In [1]:
from  datetime import datetime, timedelta
import gc
import numpy as np
import pandas as pd
import lightgbm as lgb
from sklearn.model_
import os, sys, gc, time, warnings, pickle, psutil, random

warnings.filterwarnings('ignore')

In [2]:
grid_df = pd.read_pickle('grid_df.pkl')

In [4]:
grid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20158410 entries, 0 to 20158409
Data columns (total 61 columns):
 #   Column                     Dtype
---  ------                     -----
 0   id                         object
 1   item_id                    int16
 2   dept_id                    int8
 3   store_id                   int8
 4   cat_id                     int8
 5   state_id                   int8
 6   d                          int16
 7   sales                      float16
 8   month                      int8
 9   event_name_1               int8
 10  event_type_1               int8
 11  event_name_2               int8
 12  event_type_2               int8
 13  snap_CA                    float16
 14  snap_TX                    float16
 15  snap_WI                    float16
 16  sell_price                 float16
 17  release                    int16
 18  day                        int8
 19  week                       int8
 20  year_enc                   int8
 21  week_month                 int8
 22  day_week                   int8
 23  weekend                    int8
 24  price_max                  float16
 25  price_min                  float16
 26  price_std                  float16
 27  price_mean                 float16
 28  price_norm                 float16
 29  price_momentum             float16
 30  price_momentum_m           float16
 31  price_momentum_y           float16
 32  enc_item_id_state_id_mean  float16
 33  enc_item_id_state_id_std   float16
 34  enc_item_id_store_id_mean  float16
 35  enc_item_id_store_id_std   float16
 36  sales_lag_28               float16
 37  sales_lag_29               float16
 38  sales_lag_30               float16
 39  sales_lag_31               float16
 40  sales_lag_32               float16
 41  sales_lag_33               float16
 42  sales_lag_34               float16
 43  sales_lag_35               float16
 44  sales_lag_36               float16
 45  sales_lag_37               float16
 46  sales_lag_38               float16
 47  sales_lag_39               float16
 48  sales_lag_40               float16
 49  sales_lag_41               float16
 50  sales_lag_42               float16
 51  rolling_mean_7             float16
 52  rolling_std_7              float16
 53  rolling_mean_14            float16
 54  rolling_std_14             float16
 55  rolling_mean_30            float16
 56  rolling_std_30             float16
 57  rolling_mean_60            float16
 58  rolling_std_60             float16
 59  rolling_mean_180           float16
 60  rolling_std_180            float16
dtypes: float16(42), int16(3), int8(15), object(1)
memory usage: 2.1+ GB

In [5]:
remove_feature = ['id',
                  'state_id',
                  'store_id',
#                   'item_id',
#                   'dept_id',
#                   'cat_id',
                 'd','sales']

In [31]:
lgb_params = {
                    'boosting_type': 'gbdt',
                    'objective': 'tweedie',
                    'tweedie_variance_power': 1.1,
                    'metric': 'rmse',
                    'max depth': 50
                    'subsample': 0.5,
                    'learning_rate': 0.02,
                    'num_leaves': 100,
                    'min_data_in_leaf': 100,
                    'feature_fraction': 0.5,
                    'n_estimators': 500,
                    'verbose': -1,
                    'seed' : 42
                }

In [10]:
stores = list(grid_df['store_id'].unique())

In [18]:
validation = {'public' : [1913, 1941], 'private' : [1941, 1969] }

## Store Level Model

In [34]:
for store in stores:
    df = grid_df[grid_df['store_id'] == store]
    inputCols = df.columns[~df.columns.isin(remove_feature)]
    train = (df['d'] <= validation['private'][0]) & (df['d'] >= FIRST_DAY)
    val = (df['d'] > validation['private'][0]) & (df['d'] <= validation['private'][1])

    train_data = lgb.Dataset(df[train][inputCols], label = df[train]['sales'])

    valid_data = lgb.Dataset(df[val][inputCols], label = df[val]['sales'])
    
    m_lgb = lgb.train(lgb_params, train_data, valid_sets = [valid_data, train_data], verbose_eval=100) 
    display(pd.DataFrame({'name':m_lgb.feature_name(),
                              'imp':m_lgb.feature_importance()}).sort_values('imp',ascending=False).head(10))

    model_name = "StoreModels/" + str(store)+'.bin'
    pickle.dump(m_lgb, open(model_name, 'wb'))
    
    indice = df[val].index.tolist()
    prediction = pd.DataFrame({'y_pred' : m_lgb.predict(df[val][inputCols])})
    prediction.index = indice
    
    grid_1 = pd.read_pickle("df_final_1.pkl")
    pd.concat([grid_1.iloc[indice], prediction], axis=1)\
        .pivot(index='id', columns='d', values='y_pred')\
        .reset_index()\
        .set_index('id')\
        .to_csv("StorePredictions/"+"store"+ str(store)+'.csv')
        
    del df, train_data, valid_data, m_lgb, train, val; gc.collect, grid_1

0 start
[100]	training's rmse: 2.47496	valid_0's rmse: 2.41058
[200]	training's rmse: 2.2484	valid_0's rmse: 3.06623
[300]	training's rmse: 2.17891	valid_0's rmse: 3.24316
[400]	training's rmse: 2.13435	valid_0's rmse: 3.30275
[500]	training's rmse: 2.09936	valid_0's rmse: 3.32686
[600]	training's rmse: 2.07137	valid_0's rmse: 3.33739
[700]	training's rmse: 2.04667	valid_0's rmse: 3.3362
[800]	training's rmse: 2.02459	valid_0's rmse: 3.34015
[900]	training's rmse: 2.0043	valid_0's rmse: 3.34499
[1000]	training's rmse: 1.98601	valid_0's rmse: 3.34527

                         name    imp
14                       week  12319
0                     item_id  10535
54           rolling_mean_180   9191
29  enc_item_id_store_id_mean   9013
30   enc_item_id_store_id_std   8629
55            rolling_std_180   8180
28   enc_item_id_state_id_std   7979
11                 sell_price   7902
52            rolling_mean_60   7758
53             rolling_std_60   7416

1 start
[100]	training's rmse: 2.00881	valid_0's rmse: 2.14484
[200]	training's rmse: 1.85579	valid_0's rmse: 2.68574
[300]	training's rmse: 1.80834	valid_0's rmse: 2.85664
[400]	training's rmse: 1.7767	valid_0's rmse: 2.91492
[500]	training's rmse: 1.75251	valid_0's rmse: 2.93541
[600]	training's rmse: 1.73306	valid_0's rmse: 2.93964
[700]	training's rmse: 1.71621	valid_0's rmse: 2.9399
[800]	training's rmse: 1.70065	valid_0's rmse: 2.939
[900]	training's rmse: 1.68611	valid_0's rmse: 2.93849
[1000]	training's rmse: 1.67203	valid_0's rmse: 2.93899

                         name    imp
14                       week  12349
0                     item_id  10976
29  enc_item_id_store_id_mean   9812
54           rolling_mean_180   9743
30   enc_item_id_store_id_std   9418
55            rolling_std_180   8985
52            rolling_mean_60   8325
28   enc_item_id_state_id_std   8057
53             rolling_std_60   7595
11                 sell_price   7593

2 start
[100]	training's rmse: 3.38268	valid_0's rmse: 3.49077
[200]	training's rmse: 2.97301	valid_0's rmse: 4.54848
[300]	training's rmse: 2.86574	valid_0's rmse: 4.8326
[400]	training's rmse: 2.79608	valid_0's rmse: 4.91548
[500]	training's rmse: 2.74314	valid_0's rmse: 4.90872
[600]	training's rmse: 2.70023	valid_0's rmse: 4.91921
[700]	training's rmse: 2.66535	valid_0's rmse: 4.92011
[800]	training's rmse: 2.63294	valid_0's rmse: 4.91898
[900]	training's rmse: 2.60043	valid_0's rmse: 4.93287
[1000]	training's rmse: 2.57182	valid_0's rmse: 4.92894

                         name    imp
14                       week  11381
0                     item_id   9919
54           rolling_mean_180   8549
30   enc_item_id_store_id_std   8386
29  enc_item_id_store_id_mean   8249
26           price_momentum_y   8138
55            rolling_std_180   7674
52            rolling_mean_60   7623
28   enc_item_id_state_id_std   7607
21                  price_std   7523

3 start
[100]	training's rmse: 1.47335	valid_0's rmse: 1.29642
[200]	training's rmse: 1.40812	valid_0's rmse: 1.50178
[300]	training's rmse: 1.38625	valid_0's rmse: 1.56938
[400]	training's rmse: 1.37038	valid_0's rmse: 1.59848
[500]	training's rmse: 1.3566	valid_0's rmse: 1.60813
[600]	training's rmse: 1.34463	valid_0's rmse: 1.6144
[700]	training's rmse: 1.33352	valid_0's rmse: 1.61714
[800]	training's rmse: 1.32337	valid_0's rmse: 1.61827
[900]	training's rmse: 1.31316	valid_0's rmse: 1.62152
[1000]	training's rmse: 1.30367	valid_0's rmse: 1.62034

                         name    imp
14                       week  11925
0                     item_id  10825
54           rolling_mean_180   9547
29  enc_item_id_store_id_mean   9180
28   enc_item_id_state_id_std   8771
30   enc_item_id_store_id_std   8569
52            rolling_mean_60   8371
55            rolling_std_180   8314
53             rolling_std_60   7890
27  enc_item_id_state_id_mean   7756

4 start
[100]	training's rmse: 1.98977	valid_0's rmse: 2.03989
[200]	training's rmse: 1.81496	valid_0's rmse: 2.58524
[300]	training's rmse: 1.75973	valid_0's rmse: 2.73529
[400]	training's rmse: 1.72354	valid_0's rmse: 2.78245
[500]	training's rmse: 1.6946	valid_0's rmse: 2.79051
[600]	training's rmse: 1.6693	valid_0's rmse: 2.80477
[700]	training's rmse: 1.648	valid_0's rmse: 2.79758
[800]	training's rmse: 1.62856	valid_0's rmse: 2.80362
[900]	training's rmse: 1.61175	valid_0's rmse: 2.80225
[1000]	training's rmse: 1.59636	valid_0's rmse: 2.80435

                         name    imp
14                       week  12102
0                     item_id  11119
54           rolling_mean_180   9211
30   enc_item_id_store_id_std   8748
29  enc_item_id_store_id_mean   8626
55            rolling_std_180   8543
52            rolling_mean_60   8509
11                 sell_price   8398
53             rolling_std_60   8067
28   enc_item_id_state_id_std   8049

5 start
[100]	training's rmse: 2.35589	valid_0's rmse: 2.46199
[200]	training's rmse: 2.06877	valid_0's rmse: 3.19209
[300]	training's rmse: 1.98687	valid_0's rmse: 3.39655
[400]	training's rmse: 1.93623	valid_0's rmse: 3.4617
[500]	training's rmse: 1.89567	valid_0's rmse: 3.48462
[600]	training's rmse: 1.86384	valid_0's rmse: 3.49642
[700]	training's rmse: 1.83708	valid_0's rmse: 3.50835
[800]	training's rmse: 1.8144	valid_0's rmse: 3.52059
[900]	training's rmse: 1.79386	valid_0's rmse: 3.52763
[1000]	training's rmse: 1.77326	valid_0's rmse: 3.53355

                         name    imp
14                       week  12996
0                     item_id  11222
54           rolling_mean_180   9592
29  enc_item_id_store_id_mean   8753
55            rolling_std_180   8654
30   enc_item_id_store_id_std   8494
11                 sell_price   8493
28   enc_item_id_state_id_std   8298
52            rolling_mean_60   8101
25           price_momentum_m   7595

6 start
[100]	training's rmse: 2.25853	valid_0's rmse: 2.35941
[200]	training's rmse: 2.01288	valid_0's rmse: 2.99587
[300]	training's rmse: 1.94188	valid_0's rmse: 3.18164
[400]	training's rmse: 1.89706	valid_0's rmse: 3.22739
[500]	training's rmse: 1.861	valid_0's rmse: 3.23866
[600]	training's rmse: 1.83124	valid_0's rmse: 3.23878
[700]	training's rmse: 1.8055	valid_0's rmse: 3.2362
[800]	training's rmse: 1.78367	valid_0's rmse: 3.23051
[900]	training's rmse: 1.7632	valid_0's rmse: 3.22796
[1000]	training's rmse: 1.74454	valid_0's rmse: 3.22081

                         name    imp
14                       week  12440
0                     item_id  11235
54           rolling_mean_180   9704
29  enc_item_id_store_id_mean   8759
11                 sell_price   8498
55            rolling_std_180   8393
28   enc_item_id_state_id_std   8272
30   enc_item_id_store_id_std   8146
52            rolling_mean_60   7932
25           price_momentum_m   7722

7 start
[100]	training's rmse: 1.82912	valid_0's rmse: 1.79365
[200]	training's rmse: 1.71307	valid_0's rmse: 2.1711
[300]	training's rmse: 1.67488	valid_0's rmse: 2.28852
[400]	training's rmse: 1.64899	valid_0's rmse: 2.33186
[500]	training's rmse: 1.62812	valid_0's rmse: 2.34684
[600]	training's rmse: 1.61116	valid_0's rmse: 2.35279
[700]	training's rmse: 1.59681	valid_0's rmse: 2.35844
[800]	training's rmse: 1.58406	valid_0's rmse: 2.364
[900]	training's rmse: 1.57197	valid_0's rmse: 2.36667
[1000]	training's rmse: 1.5608	valid_0's rmse: 2.37063

                         name    imp
14                       week  13193
0                     item_id  10505
54           rolling_mean_180   9446
29  enc_item_id_store_id_mean   9255
30   enc_item_id_store_id_std   9161
28   enc_item_id_state_id_std   8524
55            rolling_std_180   8366
52            rolling_mean_60   8127
11                 sell_price   8080
12                    release   7906

8 start
[100]	training's rmse: 2.8703	valid_0's rmse: 3.00644
[200]	training's rmse: 2.63583	valid_0's rmse: 3.85537
[300]	training's rmse: 2.55103	valid_0's rmse: 4.07791
[400]	training's rmse: 2.48307	valid_0's rmse: 4.14886
[500]	training's rmse: 2.43038	valid_0's rmse: 4.15549
[600]	training's rmse: 2.38644	valid_0's rmse: 4.15625
[700]	training's rmse: 2.34943	valid_0's rmse: 4.1512
[800]	training's rmse: 2.3154	valid_0's rmse: 4.14176
[900]	training's rmse: 2.28316	valid_0's rmse: 4.14489
[1000]	training's rmse: 2.25396	valid_0's rmse: 4.13243

                         name    imp
14                       week  11831
0                     item_id  10384
54           rolling_mean_180   8961
29  enc_item_id_store_id_mean   8257
30   enc_item_id_store_id_std   7983
11                 sell_price   7666
52            rolling_mean_60   7648
55            rolling_std_180   7586
28   enc_item_id_state_id_std   7536
12                    release   7425

9 start
[100]	training's rmse: 2.21216	valid_0's rmse: 2.42189
[200]	training's rmse: 1.97069	valid_0's rmse: 3.09109
[300]	training's rmse: 1.89192	valid_0's rmse: 3.27719
[400]	training's rmse: 1.84062	valid_0's rmse: 3.34207
[500]	training's rmse: 1.80351	valid_0's rmse: 3.36003
[600]	training's rmse: 1.77426	valid_0's rmse: 3.36487
[700]	training's rmse: 1.74811	valid_0's rmse: 3.3668
[800]	training's rmse: 1.72513	valid_0's rmse: 3.35718
[900]	training's rmse: 1.70379	valid_0's rmse: 3.35533
[1000]	training's rmse: 1.68424	valid_0's rmse: 3.34865

                         name    imp
14                       week  12309
0                     item_id  11169
54           rolling_mean_180   9370
30   enc_item_id_store_id_std   8615
29  enc_item_id_store_id_mean   8607
55            rolling_std_180   8422
11                 sell_price   8071
52            rolling_mean_60   8043
28   enc_item_id_state_id_std   8016
53             rolling_std_60   7272

In [36]:
for file in os.listdir("StorePredictions/"):
    print(file)

submission_onlystore0.csv
submission_onlystore1.csv
submission_onlystore2.csv
submission_onlystore3.csv
submission_onlystore4.csv
submission_onlystore5.csv
submission_onlystore6.csv
submission_onlystore7.csv
submission_onlystore8.csv
submission_onlystore9.csv

In [39]:
submission = pd.read_csv('sample_submission.csv').set_index('id').iloc[30490:]
sub_id = pd.DataFrame({'id':submission.index.tolist()})
fcol = [f'F{i}' for i in range(1,29)]
sub_copy = submission.copy()

In [41]:
for file in os.listdir("StorePredictions/"):
    temp = pd.read_csv("StorePredictions/"+file)
    temp.columns = ['id']+fcol
    sub_copy += sub_id.merge(temp, how='left', on='id').set_index('id').fillna(0)
    sub_copy.columns = fcol
    sub_copy.to_csv("StorePredictions/"+'store.csv')

##